@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
/* tirar margem e borda */
* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* box-sizing serve para centralizar todos os elementos para todos os dispositivos */
    box-sizing: border-box;
    background-color: black;
    color: white;
}
.titulo-color{
    color: #27AE60;
}
.react-color{
    color:  #61DAFB;
}
.html-color{
    color: #E34F26;
}
.css-color{
    color: #1572B6;
}
.java-color{
    color: #F89820;
}
.apresentacao{
    margin: 1% 15%;
/* display: flex; serve para ajustar os textos e imagens na pagina, colocar centralizado */
    display: flex;
    /* serve para alinhar os itens flexíveis ao centro do eixo principal do container flex. */
    align-items: center;
    /* define como os itens flexíveis serão distribuídos horizontalmente dentro do container flex. */
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 70vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{
    font-size: 5vh;
    font-family: "Krona One", sans-serif;
}
.apresentacao__conteudo__texto{
    font-size: 3vh;
    font-family: "Roboto Slab", serif;
}
.apresentacao__links{
     display: flex;
     /* colocar itens em coluna */
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     gap: 2vh;
}
.apresentacao__links__ancora{
    display: flex;
    justify-content: center;
    gap: 1vh;
    width: 100%;
    max-width: 350px;
    /* centralizar um texto */
    text-align: center;
    /* ajustar a borda de algo */
    border-radius: 12px;
    /* tamanho da fonte */
    font-size: 24px;
    /* O padding cria um espaço interno ao elemento, entre o conteúdo do elemento e a borda do elemento. */
    padding: 21.5px 0;
    text-decoration: none;
    color: white;
    border: 0.5vh solid #27AE60;
    font-weight: 800;
    font-family: "Roboto Slab", serif;
}
.apresentacao__links__subtitulo{
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 2.5vh;
    }

.foto-editar{
    max-width: 100%; /* A imagem nunca será maior que o contêiner */
    height: auto; /* A altura será ajustada proporcionalmente */
    border-radius: 15%;
    margin-top: 20px;
    border: 0.5vh groove #27AE60;
}
.git-edit{
    width: 4vh;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}
.logo-edit{
    width: 4vh;
    max-width: 100%;
    height: auto;
}
/* quando passar o mouse no botão, muda o mesmo. */
.apresentacao__links__ancora:hover{
    background-color: white;
    color: black;
}